[submodule "dokuwiki"]
	path = dokuwiki
	url = https://github.com/ViktorBodrogi/dokuwiki
[submodule "lib/tpl/bootstrap3"]
	path = lib/tpl/bootstrap3
	url = https://github.com/LotarProject/dokuwiki-template-bootstrap3
[submodule "lib/plugins/include"]
	path = lib/plugins/include
	url = https://github.com/dokufreaks/plugin-include
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = https://github.com/cosmocode/sqlite
